.chat {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
    width: 100%;

    &__icon {
        font-size: 2rem;
        color: #708090;
    }

    &__text {
        margin-left: 1rem;
        flex: 1;
        p {
            margin: 0;
            font-size: 0.8rem;

            &:last-child {
                font-size: 0.7rem;
                color: #708090;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        i {
            font-size: 1.5rem;
        }

        .toast {
            margin-left: 1rem;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            z-index: 1000;
            width: 20rem;
        }
    }
}