<div class="chat" (click)="onChatRoomSelected(chatRoom)">
    <i class="pi pi-users chat__icon" style="color: #708090"></i>
    <div class="chat__text">
        <p>{{ chatRoom.name }}</p>
        <p>{{ chatRoom.messages[chatRoom.messages.length - 1] }}</p>
    </div>
    <div class="chat__actions">
        @if (chatRoom.favorite) {
            <i class="pi pi-star-fill" style="color: #fcdb00"></i>
        }
        <i class="pi pi-ellipsis-h" style="color: #708090" (click)="openMenu($event)"></i>
    </div>
</div>
