<div class="register">
    <app-main-container>
        <h1>Create Account</h1>
        <form class="register__form" [formGroup]="registerForm" (ngSubmit)="signUp()">
            <div class="inline-flex flex-column gap-2">
                <input pInputText type="email" placeholder="Email" formControlName="email"/>
            </div>
            <div class="inline-flex flex-column gap-2">
                <input pInputText type="password" placeholder="Password" formControlName="password"/>
            </div>
            <button pButton type="submit">Sign Up</button>
            <a href="auth/login">Already have an account?</a>
        </form>
    </app-main-container>
</div>
