
<div class="chat-rooms">
    <p-splitter [panelSizes]="[30, 70]" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="chat-rooms__panel">
                <div class="chat-rooms__panel__header">
                @if (!isFiltering) {
                    <div>
                        <span>Chats</span>
                    </div>

                    <div>
                        <p-button icon="pi pi-search" [rounded]="true" [text]="true" (click)="toggleFilterMode()"></p-button>
                        <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="addChatRoom()"></p-button>
                    </div>
                } @else {
                    <div class="chat-rooms__panel__filter">
                        <app-filter [data]="chatRooms" (filteredData)="onFilterChange($event)"></app-filter>
                        <p-button icon="pi pi-times" [rounded]="true" [text]="true" (click)="exitFilterMode()"></p-button>
                    </div>
                }
                </div>
                <div class="chat-rooms__panel__body">
                    @for (chatRoom of filteredChatRooms; track $index) {
                        <app-chat [chatRoom]="chatRoom" (chatRoomSelected)="onChatRoomSelected($event)"></app-chat>
                    } @empty {
                        <div class="empty">
                            <i class="pi pi-user" style="color: #708090"></i>
                            <span class="empty__title">New Chat</span>
                        </div>
                    }
                </div>
                <div class="chat-rooms__panel__footer">
                    <div class="flex align-items-center gap-2">
                        <p-button>Find and invite people</p-button>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <app-conversation [chatRoomSelected]="chatRoomSelected!"></app-conversation>
            </div>
        </ng-template>
    </p-splitter>
</div>
