<div class="card">
    <p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton icon="pi pi-home" class="mr-2"></button>
    </div>
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" class="search" />
        </span>
    </div>
    <div class="p-toolbar-group-end">
        <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
    </div>
    </p-toolbar>
</div>