@if (user) {
    <div class="card">
        <p-toolbar>
        <div class="p-toolbar-group-start">
            <a pButton class="p-button-rounded p-button-success" icon="pi pi-home" routerLink="/chat-rooms"></a>
            <a pButton class="p-button-rounded p-button-success" icon="pi pi-user" routerLink="/profile"></a>
        </div>
        <div class="p-toolbar-group-end">
            <p-button icon="pi pi-power-off" [rounded]="true" severity="danger" (click)="logout()"></p-button>
        </div>
        </p-toolbar>
    </div>
}
