.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__form {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
    }
}